@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Google Sans Flex', system-ui, sans-serif;
  --color-brand: #FA9411;
  --color-brand-hover: #e58209;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Google Sans Flex', system-ui, sans-serif;
}

/* Reduce font weight/thickness across the website */
h1, h2, h3, h4, h5, h6, th, strong {
  font-weight: 500 !important;
}

.font-extrabold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 500 !important;
}

.font-medium {
  font-weight: 400 !important;
}

